---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import { menuData } from "../data/menu.js";
import DrinkCard from "../components/DrinkCard.astro";
---

<Layout
  title="Menú Digital - El Bar Secreto"
  description="Descubre nuestra selección de cócteles, vinos y cervezas artesanales."
>
  <main class="container mx-auto px-4 py-12">
    <Header />
    <div class="space-y-12">
      {
        menuData.map((category) => (
          <section>
            <h2 class="text-3xl font-semibold border-b-2 border-yellow-500 pb-2 mb-6">
              {category.category}
            </h2>
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
              {category.items.map((item) => (
                <DrinkCard
                  price={item.price}
                  description={item.description}
                  src={item.image.src}
                  alt={item.name}
                  width={item.image.width}
                  height={item.image.height}
                />
              ))}
            </div>
          </section>
        ))
      }
    </div>
  </main>
</Layout>
